* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
display: flex;
flex-direction: row;
}

.field + .field {
  padding-left: 15px;
}

.field {
  padding-top: 15px;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.value {
  font-size: 36px;
}

.form {
  display: flex;
}

.input{
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: auto;
}